<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()" >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="authService.currentUser">
          <mat-icon class="nav-icon">menu</mat-icon>
      </button>
      
      <span>Midas Panel</span>
      <span class="nav-spacer"></span>
      <mat-icon class="nav-icon">delete</mat-icon>
      <mat-icon class="nav-icon">more_vert</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="inner-content-view">
    <router-outlet></router-outlet>
  </div>
      
  <mat-sidenav #sidenav>

    <mat-card class="profole-container" color="primary">
      <button class="sidenav-btn" mat-button (click)="sidenav.toggle()" [routerLink]="['/user']">
        <mat-icon>account_circle</mat-icon><br>
        {{ authService.currentUserEmailName }}
      </button>
    </mat-card>
    <mat-card class="profole-container" color="primary">
      <button class="sidenav-btn" mat-button (click)="logout();sidenav.toggle();">Logout</button>
    </mat-card>

    <div class="item-container">
      <button mat-button class="sidenav-btn" (click)="sidenav.toggle()" [routerLink]="['/home']">
        <mat-icon class="color_gray">home</mat-icon>
        <span class="item-spacer"></span>
        Home
      </button>
      <button mat-button class="sidenav-btn" (click)="sidenav.toggle()" [routerLink]="['/orderlist']">
        <mat-icon class="color_gray">library_books</mat-icon>
        <span class="item-spacer"></span>
        Order
      </button>
      <button mat-button class="sidenav-btn" (click)="sidenav.toggle()" [routerLink]="['/user']">
        <mat-icon>work</mat-icon>
        <span class="item-spacer"></span>
        Work</button>
    </div>

    <!-- <div class="stick-bottom">
      <button class="sidenav-btn" mat-button (click)="logout()" color="accent">Logout</button>
    </div> -->
  </mat-sidenav>
</mat-sidenav-container>
