/* TOOLBAR */
.nav-icon {
    margin: 0 4px;
    padding: 0 0px;
}

.nav-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
    top:0;
    max-height: 60px;
}

.mat-toolbar-multiple-rows {
    top: 0;
    min-height: 60px;
}

/* SIDE NAV  */
.sidenav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    min-width:200px;
    background-color: whitesmoke;
}

.sidenav-btn {
    margin: 4px 0 4px 0;
    width: 100%;
}

.profole-container {
    padding: 20px 4px 8px 4px;
    text-align: center;
    background-color: #3F51B5;
    color: white;
}

.mat-sidenav > mat-card {
    margin-bottom: 2px;
    padding: 8px 4px 8px 4px;
}

.item-container > button {
    text-align: left;
    color: rgb(90, 90, 90);
}

.item-spacer{
    margin-left: 8px;
}

.stick-bottom {
    width: 100%;
    position: absolute;
    bottom:0;
}

.inner-content-view {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:60px;
}
