<!-- {{ checkAuth() }} -->
<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Login</h1></mat-card-title>
  </mat-card-header>

  <form class="form-container" (ngSubmit)="onSigninEmail()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" name="email" [(ngModel)]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" name="password" [(ngModel)]="password" [type]="hidepw ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidepw = !hidepw">{{hidepw ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button type="submit" class="btn btn-success" color="accent">Login</button>
  </form>
  
  <!-- <p *ngIf="errorMessage.length > 0" class="text-danger">
    {{errorMessage}}
  </p>

  <p *ngIf="error.message.length > 0" class="text-danger">
    {{error.message}}
  </p> -->

  <!-- <form (ngSubmit)="onSigninEmail()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
    </div>

    <button type="submit" class="btn btn-success">Login</button>
  </form> -->
</mat-card>