
<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Login</h1></mat-card-title>
  </mat-card-header>

  <form class="form-container" (ngSubmit)="onSigninEmail()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" name="email" [(ngModel)]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" name="password" [(ngModel)]="password" [type]="hidepw ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidepw = !hidepw">{{hidepw ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button type="submit" class="btn btn-success" color="accent">Login</button>
  </form>
</mat-card>